:root{
    --primary-color:#035752;
    --secondary-color:#D19A29;
    --primary-font:font-family: 'Roboto', sans-serif;
    --secondary-font:font-family: 'Roboto', sans-serif;
    --accent-font: 'Dancing Script', cursive;
}
h1 {
  font-size: 50px;
  color: white;
}
header img {
  max-width: 100%;
  
}
container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  font-family: var(--secondary-font);
  background-color:var(--primary-color);
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0px;
}

main {
  background-color: whitesmoke;
  margin: 0 auto;
}
main img {
  
  box-shadow: -49px -35px rgb(219, 153, 0, 0.7);
}

main li {
  list-style: none;
  padding-bottom: 28px;
  line-height: 1.5;
  margin: 0 auto;
  color: var(--primary-color);
  

}

main h3 {
  text-align: center;
  padding: 20px 0px;
  font-family:var(--accent-font);
  color: var(--secondary-color);
  font-size: 34px;
  font-weight: 400;
  margin: 20px auto;
  padding-bottom: 10px;
}
main h4{
  margin:0 auto;
  
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0px;
  filter:saturate(120%);
  filter:brightness(110%);
}

header h1 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 60px;
  margin: 0;
  color: var(--primary-color);
  
}
header h2 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 25px;
  color: var(--primary-color);
  margin: 0;
}
header a {
  font-size: 14;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  background-color:var(--secondary-color);
  text-decoration: none;
  color: white;
  padding: 14px 30px;
  margin-top: 30px;
  display: inline-block;
}
hr{
  color: var(--primary-color);
  size:75%;
}
footer {
  color: white;
  padding: 20px 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul{
  margin:0 auto;
}
footer h3 {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 12px;

}

footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

footer a {
  opacity: 0.7;
  color: white;
  padding: 10px;
}
footer li{
  padding-bottom: 10px;
}

section .secondary {
  background-color: #F8F8F8;
  padding: 10px 0px;
}

.text-centered {
  text-align: center;
}
.img-responsive {
  max-width: 100%;
}
.grid {
  display: grid;

  grid-gap: 64px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.IG-link{
    color: white;
    padding-left: 5px;
    font-size: x-large;
    transition: all 100ms ease-in-out;
}
.secondary h2{
  color: var(--secondary-color);
}

.text-box{
  background-color: rgb(248, 248, 248, 0.4);
  padding: 40px 60px;
  width: 800px;
  height: 200px;
  text-align: center;
  display:inline-block;
  border-radius: 5px;
  
}
.highlight-text{
  color: var(--secondary-color);
  font-weight: 600;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0px;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  blockquote{
    size:100%;
  }
  .text-box{
  padding: 20px 30px;
  width: 400px;
  height: 200px;

  }
  header a{
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 12px;
  }

  main h3{
    font-size: 24px;
  }
  main h4{
    font-size: 10px;
  }
  main img{
    width:75%;
    height: 75%;
}
